@use '/src/styles/variables' as variables;
@use '/src/styles/shared';
@use '/src/styles/custom-properties';

.eventHomeContent {
  display: flex;
  flex-direction: column;

  .header {
    width: 100%;
    display: flex;
    margin-top: 30px;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Raleway';
    font-style: normal;

    h1 {
      background: var(--iconsSecondary);
      opacity: 0.9;
      border-radius: 50px 4px;
      width: 30%;
      font-weight: 600;
      font-size: 56px;
      line-height: 66px;
      text-align: center;
      color: var(--backgroundNeutralLighter);
      margin-left: auto;
      margin-right: auto;
      @media #{variables.media-query(max, xl)} {
        font-size: 4vw;
      }
    }
    Button {
      font-weight: 700;
      font-size: 20px;
      line-height: 27px;
      max-width: 314px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .incomingEventTitle {
    align-self: center;
    font-weight: bolder;
    font-size: 50px;
    text-align: center;
    text-decoration: solid underline var(--btnPrimary);
    text-underline-offset: 5px;
    line-height: 32px;
    color: var(--textPrimary);
    margin: 40px 0;
    word-break: break-word;
  }

  .eventsContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 10px;
    column-gap: 10px;
    max-width: 80%;
    margin: 0 auto;
    margin-top: 35px;

    @media #{variables.media-query(max, lg)} {
      grid-template-columns: repeat(2, 1fr);
    }
    @media #{variables.media-query(max, md)} {
      grid-template-columns: 1fr;
    }
  }

  .carruselContainer {
    margin: 40px 0;
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;

    @media #{variables.media-query(max, md)} {
      flex-direction: column;
      align-items: center;
    }

    .appDescription {
      padding: 10px 23px 10px 36px;
      width: 440px;
      height: auto;
      background: #f6faf9;
      border-radius: 50px 4px;
      position: absolute;
      top: 50%;
      left: 80%;
      transform: translate(-50%, -50%);
      &:hover {
        background-color: #f6faf9a5;
      }

      @media #{variables.media-query(max, xl)} {
        left: 50%;
        width: 56%;
        height: initial;
      }

      @media #{variables.media-query(max, md)} {
        position: relative;
        top: initial;
        left: initial;
        transform: none;
        width: 80vw;
        height: auto;
        border: 2px solid #5787a5b5;
        margin-right: 30px;
        margin-left: 15px;
        margin-top: 30px;
      }

      .participationInfoTitle {
        font-family: 'Della Respira';
        font-weight: 500;
        font-size: 32px;
        line-height: 44px;
        color: var(--btnPrimaryDarker);
      }
      .participationInfoDescription {
        font-family: 'Raleway';
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
        margin-bottom: 30px;
      }
      .buttonContainer {
        display: flex;
        justify-content: center;
        & Button {
          max-width: 100%;
        }
      }
    }
  }
  .homeInfoContainer {
    align-self: center;
    margin-bottom: 150px;
  }
}
