@use '/src/styles/variables';
@use '/src/styles/shared';
@use '/src/styles/custom-properties';

$event-states: available, closed, subscribed, readyforpayment, full, finished;

@each $state in $event-states {
  .cardContainer.#{$state} {
    border-top: 5px solid var(--event-#{$state});
  }
  .stateTab.#{$state} {
    background-color: var(--event-#{$state});
  }
  /*   .dateSection#{$state} { //no funca
    color: var(--event-#{$state});
  } */
}

.cardContainer {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  position: relative;
  width: 325px;
  min-height: 340px;
  background-color: var(--backgroundNeutralLighter);
  border-top: 5px solid var(--availabilityPrimary);

  &:hover {
    background-color: rgb(232, 231, 231);
  }
  .cardHeader {
    display: flex;
    .stateTab {
      color: var(--backgroundNeutralLighter);
      height: 28px;
      width: 120px;
      margin-left: 15px;
      margin-top: 20px;
      border-radius: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .dateSection {
      margin-left: 15px;
      margin-top: 25px;
      font-size: 14px;
      color: var(--textPrimary);
      font-weight: 600;
      &.available {
        color: var(--event-available);
      }
      &.closed {
        color: var(--event-closed);
      }
      &.subscribed {
        color: var(--event-subscribed);
      }
      &.readyforpayment {
        color: var(--event-readyforpayment);
      }
      &.full {
        color: var(--event-full);
      }
      &.finished {
        color: var(--event-finished);
      }
    }
  }
  .cardBody {
    margin-left: 20px;
    margin-top: 15px;
    .mainRow {
      display: flex;
      justify-content: space-between;
      margin-right: 8%;
      .eventTitle {
        font-size: 23px;
        margin-top: 5px;
        min-height: 50px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 90%;
      }
      .privateLogo {
        width: 30px;
        height: 30px;
        background-size: contain;
        background-image: url('/images/icons/icons-candado.png');
      }
    }
    .eventDescription {
      margin-top: 15px;
      font-size: 12px;
    }

    .eventParticipants {
      margin-top: 5px;
      font-size: 12px;

      .participantsCount {
        font-weight: bold;
        display: inline;
      }
    }
    .eventCook {
      margin-top: 10px;
      font-size: 13px;

      .chef {
        font-weight: bold;
        display: inline;
      }
    }
  }

  .cardFooter {
    margin: 0 20px 0px 20px;
    position: relative;
    display: flex;
    margin-top: auto;
    transform: translateY(-60px);

    .participationBtn {
      position: absolute;
      left: 15px;
    }
    .infoBtn {
      position: absolute;
      right: 15px;
    }
    .ratingSection {
      display: flex;
      align-items: center;
      position: absolute;
      left: 0%;
      min-height: 65px;
      bottom: -50px;
      color: grey;

      .ratingAvg {
        display: flex;
        font-size: 20px;
        padding-top: 1px;
      }

      .ratingRatingsAmoung {
        display: flex;
        font-size: 12px;
        margin-left: 5px;
        margin-top: 5px;
      }
    }
  }
}
