@use '/src/styles/variables';
@use '/src/styles/shared';
@use '/src/styles/custom-properties';

.slider {
  position: relative;
  width: 100%;
  max-width: 784px;
  height: 430px;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.7);

  @media #{variables.media-query(max, md)} {
    position: relative;
    max-width: 80vw;
    max-height: 250px;
  }

  .sliderTrack {
    display: flex;
    height: 100%;
    transition: transform 0.6s ease-in-out;

    .slideImageWrapper {
      position: relative;
      flex: 0 0 100%;
      height: 100%;
      width: 100%;
      border-radius: 8px;
      overflow: hidden;
    }

    .slideImage {
      object-fit: cover;
    }
  }
}
