@use '/src/styles/variables' as variables;
@use '/src/styles/shared';
@use '/src/styles/custom-properties';

.eventContainer {
  display: flex;
  align-items: center;
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 20px;

  .eventTitle {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 66px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    text-decoration: solid underline var(--btnPrimary);
  }
  .btnSection {
    gap: 5px;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
  }
}
