@use '/src/styles/variables' as variables;
@use '/src/styles/shared';
@use '/src/styles/custom-properties';

.eventContainer {
  display: flex;
  align-items: center;
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  font-family: 'Raleway';

  .eventTitle {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 66px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    text-decoration: solid underline var(--btnPrimary);
    opacity: 0;
    animation: fadeInTitle 2s ease forwards;
    @keyframes fadeInTitle {
      to {
        opacity: 1;
      }
    }
  }
  .eventContent {
    display: flex;
    flex-direction: row;
    width: 90%;
    gap: 20px;

    @media #{variables.media-query(max, md)} {
      flex-direction: column;
    }

    .leftColumn {
      max-height: fit-content;
      width: 100%;
      background-color: var(--eventPrimaryBackground);
      border-radius: 10px;
      opacity: 0;
      transform: translate(10px, 10px);
      animation: fadeInLeftColumn 1s ease forwards;

      @keyframes fadeInLeftColumn {
        to {
          opacity: 1;
          transform: translate(0, 0);
        }
      }
    }
    .rightColumn {
      max-height: fit-content;
      width: 100%;
      background-color: var(--eventPrimaryBackground);
      border-radius: 10px;
      opacity: 0;
      transform: translate(10px, 10px);
      animation: fadeInRightColumn 1s ease forwards;
      animation-delay: 0.7s;
      @keyframes fadeInRightColumn {
        to {
          opacity: 1;
          transform: translate(0, 0);
        }
      }
    }
  }
  .btnSection {
    gap: 5px;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-bottom: 70px;
  }
}
