@use '/src/styles/variables' as variables;
@use '/src/styles/shared';
@use '/src/styles/custom-properties';

.title {
  color: var(--color-text);
  font-family: var(--secondaryFont);
  font-size: 1.5rem;
  font-weight: bold;
  gap: 0.5rem;
  margin: 0 0 1.25rem;

  @media #{variables.media-query(max, lg)} {
    margin-top: 0;
    margin-bottom: 30px;
    font-weight: variables.font-weight(bold);
    font-size: 30px;
  }
}

.submitButton{
  margin-top: 0.5rem;
}

.forgotPassword {
  font-size: 16px;
  font-family: var(--secondaryFont);
  font-weight: variables.font-weight(bold);
  text-decoration: none;
  color: var(--color-primary);
  margin: 1.1rem auto;
  align-self: flex-end;
}

.register {
  font-size: 16px;
  font-family: var(--secondaryFont);
  font-weight: variables.font-weight(bold);
  text-decoration: none;
  color: var(--color-text-secondary);
  margin: 0 auto 0.25rem;
  align-self: flex-end;

  .registerHighlighted {
    color: var(--btnPrimary);
  }

  &:hover {
    .registerHighlighted {
      color: var(--btnPrimaryDarker);
    }
  }
}
.linksContainer {
  margin-top: 0rem;
  display: flex;
  justify-content: space-between;
}
