@use '/src/styles/variables';
@use '/src/styles/shared';
@use '/src/styles/custom-properties';

.editEventBtn {
  position: absolute;
  top: 17px;
  right: 15px;
  width: 23px;
  height: 23px;
  border-radius: 0;
  box-shadow: none;
  background-size: contain;
  background-color: transparent;
  cursor: pointer;
  background-image: url('/images/icons/editLogo.png');
  &:hover {
    scale: 1.05;
  }
}

html[data-theme='dark'] .editEventBtn {
  filter: brightness(0) invert(1);
}
